h1{
    color: rgb(125, 65, 220);
    text-align: center;
    /* font-weight: 300; */
}

h2{
    color: rgb(124, 63, 117);
}

#womenTitle #womenPortrait {
    text-align: center;
    align-items: center;
}

.women-address {
    color: rgb(235, 107, 33);
}



.categories {
    color: orange;
}

.all-descriptions {
    color: rgb(251, 24, 209);
}